.main text {
    font: 12px sans-serif;
}

line, path, yAxis {
    shape-rendering: crispEdges;
    stroke: #696969;
    fill: none;
}

.xAxis{
    display:none;
}

.from {
    fill: #85bb65;
    opacity: 0.8;
}

.to {
    fill: #3E741E;
    opacity: 0.8;
}

.currentValue {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
}

.currentValue-value {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.valueName {
    padding-right: 4px;
}

.tick line {
    opacity: 0.2;
}

.link{
    opacity: 0.8;
}

.updateChartData{
    padding-top: 10px;
    padding-bottom: 10px;
}